.Footer-wrapper {
    background-color: #1a0608;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ssicons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    list-style: none;
}

.ssicons li {
    padding: 1rem 1rem;
    margin: 1rem 0.5rem;
    font-size: 30px;
}

.ssicons li:hover {
    color: #9b2335;
    transition: 0.2s ease;
}

p {
    color: white;
    font-size: 15px;
    margin-bottom: 0.5rem;
}
